# https://orm.drizzle.team/docs/guides/postgresql-local-setup#configure-database-url
DATABASE_URL=postgres://spheres_dev:spheres_dev_pass@localhost:5432/spheres_dev

# I generated my secret with `openssl rand -base64 32`
SESSION_SECRET=secret_for_signing_and_verifying_JWTs